name: cross-compile
on:
  push:
    branches:
    #   - "this_workflow_is_just_test_for_github_actions"
      - "**"

jobs:
  cross-compilation:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        #   - os: macos-13                # macos-13 was retired.
        #     target: x86_64-apple-darwin # no support x86 in macos
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
          - os: ubuntu-latest
            target: aarch64-unknown-linux-musl
    steps:
      # initialization
      - name: Checkout the project
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod

      - name: Setup toolchain
        if: matrix.target == 'aarch64-apple-darwin'
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build (macOS)
        if: matrix.target == 'aarch64-apple-darwin'
        run: |
            rustup update stable
            cargo build --release --target ${{ matrix.target }}

      # - name: Build (x86 Linux)
      #   uses: addnab/docker-run-action@v3
      #   if: matrix.target == 'x86_64-unknown-linux-musl'
      #   with:
      #     image: ghcr.io/tamada/rust-x86-linux-musl:latest
      #     options: >
      #       -v ${{ github.workspace }}:/io
      #       -w /io
      #     run: |
      #       cargo build --release --target ${{ matrix.target }}

      - name: Build with cargo
        uses: addnab/docker-run-action@v3
        if: matrix.target != 'aarch64-apple-darwin'
        with:
          image: rust:alpine
          options: >
            -v ${{ github.workspace }}:/io
            -w /io
          run: |
            apk add --no-cache musl musl-dev build-base
            rustup target add ${{ matrix.target }}
            cargo build --release --target ${{ matrix.target }}

      # - name: Build (x86 Linux)
      #   if: matrix.target == 'x86_64-unknown-linux-musl'
      #   env:
      #       CC_x86_64_unknown_linux_musl:  x86_64-linux-musl-gcc
      #       CXX_x86_64_unknown_linux_musl: x86_64-linux-musl-g++
      #       AR_x86_64_unknown_linux_musl:  x86_64-linux-musl-ar        
      #   run: |
      #       rustup update stable
      #       curl -L https://musl.cc/x86_64-linux-musl-cross.tgz -o musl-cross.tar.gz
      #       sudo tar xvfz musl-cross.tar.gz -C /opt
      #       echo 'PATH=/opt/x86_64-linux-musl-cross/bin:$PATH' >> $GITHUB_ENV
      #       mkdir -p .cargo
      #       cat at > .cargo/config.toml <<'CFG'
      #       [target.x86_64-unknown-linux-musl]
      #       linker = "x86_64-linux-musl-gcc"
      #       ar     = "x86_64-linux-musl-ar"
      #       CFG
      #       cargo build --release --target ${{ matrix.target }}
