name: cross-compile
on:
  push:
    branches:
      - "this_workflow_is_just_test_for_github_actions"
    #   - "**"

jobs:
  cross-compilation:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        #   - os: macos-13                # macos-13 was retired.
        #     target: x86_64-apple-darwin # no support x86 in macos
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
    steps:
      # initialization
      - name: Checkout the project
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod

      - name: Setup toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build (macOS and x86 Linux)
        if: matrix.target != 'aarch64-unknown-linux-gnu'
        run: |
            rustup update stable
            cargo build --release --target ${{ matrix.target }}

      - name: Build with cargo-zigbuild
        uses: addnab/docker-run-action@v3
        if: matrix.target == 'aarch64-unknown-linux-gnu'
        with:
          image: ghcr.io/rust-cross/cargo-zigbuild:latest
          options: >
            -v ${{ github.workspace }}:/io
            -w /io
          run: |
            rustup toolchain install 1.88.0 # the newest version of rust
            rustup default 1.88.0
            rustup target add ${{ matrix.target }}
            cargo zigbuild --release --target ${{ matrix.target }}
