name: cross-compile
on:
  push:
    branches:
      - "**"
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          - os: macos-latest
    steps:
      # initialization
      - name: Checkout the project
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod

      - name: Build (macOS)
        if: matrix.os == 'macos-latest'
        run: |
            rustup update stable
            rustup component add x86_64-apple-darwin
            cargo build --release --target x86_64-apple-darwin
            rustup component add aarch64-apple-darwin
            cargo build --release --target aarch64-apple-darwin

      - name: Build (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
            rustup update stable
            rustup component add aarch64-unknown-linux-gnu
            cargo build --release --target aarch64-unknown-linux-gnu
            rustup component add x86_64-unknown-linux-gnu
            cargo build --release --target x86_64-unknown-linux-gnu
